.personalCenter_plan{
    /*width: 470px;*/
    /*height: 700px;*/
    /*border: 1px solid #CCCCCC;*/
    width:400px;
    height: 700px;
    margin-left: 0px;
    border: 1px solid #CCCCCC;
}
.time{
    width:450px;
    height:40px;
    padding-left: 20px;
    font-size: 20px;
}
.object{
    width:450px;
    height:40px;
    padding-left: 20px;
    font-size: 20px;
}
.details{
    width:430px;
    height:250px;
    padding-left: 20px;
    font-size: 20px;
}
.groupcode{
    width: 450px;
    height: auto;
    padding-left: 20px;
    font-size: 20px;
    float: left;
}
